---
import * as m from "@/paraglide/messages";
import StableStudioCardLogo from "./StableStudioCardLogo.astro";
---

<section
	id="card3d"
	class="relative flex min-w-[600px] max-w-full gap-12 overflow-visible rounded-2xl border-2 border-white/10 bg-white/10 p-8 px-12 font-normal tracking-wide text-white shadow-md backdrop-blur-2xl hover:shadow-xl">
	<div id="card3dglow" class="absolute left-0 top-0 size-full"></div>
	<!-- <div
		id="card3drectangle"
		class="absolute hidden xl:block top-full left-[70%] -translate-y-6 size-16 rotate-[65deg] bg-white/20 backdrop-blur-2xl rounded-lg shadow-md">
	</div> -->
	<div class="flex flex-1 items-center justify-center">
		<div class="size-32 fill-white">
			<StableStudioCardLogo />
		</div>
	</div>
	<div class="flex max-w-[80%] flex-col gap-6">
		<header class="flex flex-col">
			<h2 class="text-2xl font-semibold font-sans">Stable Studio</h2>
			<p class="text-sm">{m.white_fancy_jackal_snip()}</p>
		</header>
		<div class="flex flex-col gap-4">
			<p class="max-w-[420px] text-sm">
				{m.fine_major_swallow_smile()}<br />
				{m.seemly_fresh_larva_ripple()}
			</p>
			<p class="flex items-center gap-3 text-sm font-sans">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="size-4 -translate-y-[1px]"
					><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
						d="M9 15l6 -6"></path><path
						d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"></path><path
						d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"
					></path></svg
				>
				https://stablestudio.org
			</p>
		</div>
		<footer class="flex flex-col gap-4">
			<p class="text-sm">{m.plain_super_butterfly_heal()}</p>
		</footer>
	</div>
</section>

<style>
	#card3d {
		transition-duration: 300ms;
		transition-property: transform, box-shadow;
		transition-timing-function: ease-out;
		transform: none;
		perspective: 1500px;
	}
</style>

<script>
	const cardContainer = document.getElementById("card3d") as HTMLElement | null;
	const cardGlow = document.getElementById("card3dglow") as HTMLElement | null;
	let bounds = { x: 0, y: 0, width: 0, height: 0 };

	function rotateToMouse(e: MouseEvent) {
		if (window.innerWidth < 768) return;
		const mouseX = e.clientX;
		const mouseY = e.clientY;
		const leftX = mouseX - bounds.x;
		const topY = mouseY - bounds.y;
		const center = {
			x: leftX - bounds.width / 2,
			y: topY - bounds.height / 2,
		};

		const distance = Math.sqrt(center.x ** 2 + center.y ** 2);

		cardContainer!.style.transform = `
    scale3d(1.07, 1.07, 1.07)
    rotate3d(
      ${center.y / 100},
      ${-center.x / 100},
      0,
      ${Math.log(distance) * 4}deg
    )
  `;
		cardGlow!.style.backgroundImage = `
  radial-gradient(
    circle at
    ${center.x * 2 + bounds.width / 2}px
    ${center.y * 2 + bounds.height / 2}px,
    #ffffff22 0%,
    #0000000f 50%
  )
`;
	}

	cardContainer!.addEventListener(
		"mouseenter",
		() => {
			bounds = cardContainer!.getBoundingClientRect();
			document.addEventListener("mousemove", rotateToMouse, { passive: true });
		},
		{ passive: true },
	);

	cardContainer!.addEventListener(
		"mouseleave",
		() => {
			document.removeEventListener("mousemove", rotateToMouse);
			cardContainer!.style.transform = "";
			cardGlow!.style.backgroundImage = "none";
		},
		{ passive: true },
	);
</script>
