---
import ConcaveSquare from "../../ui/ConcaveSquare.astro";
import * as m from "@/paraglide/messages";

const year = new Date().getFullYear();
---

<footer
	id="footer"
	class="flex h-full flex-col font-sans ~pt-6/24 ~pb-5/10 justify-between">
	<div id="footerIconContainer" class="relative flex flex-col">
		<a
			id="footerIcon"
			href="#top"
			class="size-[16vmin] max-h-[100px] max-w-[100px]">
			<span class="sr-only">{m.dizzy_new_tuna_enchant()}</span>
			<ConcaveSquare />
		</a>
	</div>
	<div class="flex w-full items-end justify-between">
		<a
			href="https://stablestudio.org"
			class="size-11 translate-y-3 p-3 opacity-35 transition-opacity duration-300 ease-in-out hover:opacity-100 md:size-14">
			<span class="sr-only">Stable Studio Homepage</span>
			<img
				src="/stablestudio-small.svg"
				alt="Stable Studio"
				loading="lazy"
				decoding="async"
				class="size-full object-contain"
			/>
		</a>
		<p
			class="text-[0.65rem] font-normal text-flatgray2 sm:text-xs md:text-sm 2xl:text-muted-foreground">
			© {year}
			{m.fancy_stale_blackbird_fond()}
		</p>
	</div>
</footer>

<script>
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger);

	const getstarted = document.getElementById("getstarted");
	const footer = document.getElementById("footer");
	const footerIcon = document.getElementById("footerIcon");
	const footerIconContainer = document.getElementById("footerIconContainer");

	gsap.set(footerIcon, {
		xPercent: -100,
	});
	let timeline: GSAPTimeline | null = null;
	const footerTimelineFn = () => {
		timeline?.time(0).kill();
		timeline = gsap
			.timeline({
				scrollTrigger: {
					trigger: getstarted,
					start: "bottom bottom",
					end: `+=${footer!.offsetHeight}`,
					scrub: 1,
					invalidateOnRefresh: false,
				},
			})
			.to(footerIcon, {
				x: `${footerIconContainer?.offsetWidth ?? 0}px`,
				rotate: 360,
				ease: "none",
			});
	};

	footerTimelineFn();

	declare global {
		var footerTimelineFn: () => void;
	}

	window.footerTimelineFn = footerTimelineFn;
</script>
