---
import { Image } from "astro:assets";
import ConcaveSquare from "../../ui/ConcaveSquare.astro";
import * as m from "@/paraglide/messages";

const year = new Date().getFullYear();
---

<footer
	id="footer"
	class="flex h-[150px] flex-col ~mt-6/24 ~pb-5/10 sm:h-[300px]">
	<div id="footerIconContainer" class="relative flex flex-col">
		<a
			id="footerIcon"
			href="#top"
			class="absolute left-0 top-0 size-[16vmin] max-h-[100px] max-w-[100px]">
			<span class="sr-only">{m.dizzy_new_tuna_enchant()}</span>
			<ConcaveSquare />
		</a>
	</div>
	<div
		class="mt-auto flex w-full items-end justify-between self-end opacity-35 transition-opacity duration-300 ease-in-out hover:opacity-100">
		<a href="https://stablestudio.org" class="size-6 md:size-10">
			<span class="sr-only">Stable Studio Homepage</span>
			<img
				src="/stablestudio-small.svg"
				alt="Stable Studio"
				loading="lazy"
				decoding="async"
				class="size-full object-contain"
			/>
		</a>
		<p
			class="text-xs font-normal text-flatgray2 md:text-sm 2xl:text-muted-foreground">
			© {year}
			{m.fancy_stale_blackbird_fond()}
		</p>
	</div>
</footer>

<script>
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger);

	const footer = document.getElementById("footer");
	const footerIcon = document.getElementById("footerIcon");
	const footerIconContainer = document.getElementById("footerIconContainer");

	gsap.set(footerIcon, {
		xPercent: -100,
	});
	let timeline: GSAPTimeline | null = null;
	const footerTimelineFn = () => {
		timeline?.time(0).kill();
		timeline = gsap
			.timeline({
				scrollTrigger: {
					trigger: footer,
					start: "top bottom-=50",
					end: "bottom bottom",
					scrub: 1,
					invalidateOnRefresh: false,
					// markers: true,
				},
			})
			.to(footerIcon, {
				x: () => `${footerIconContainer?.offsetWidth ?? 0}px`,
				rotate: 360,
				ease: "none",
			});
	};

	footerTimelineFn();

	declare global {
		var footerTimelineFn: () => void;
	}

	window.footerTimelineFn = footerTimelineFn;
</script>
