---
import { Image } from "astro:assets";
import Img1 from "@/assets/img1.svg";
---

<!-- img part on right -->
<div
	id="processRight"
	class="relative max-h-[170px] order-first aspect-video md:aspect-auto md:max-h-full flex items-center justify-center flex-1 overflow-hidden w-full md:sticky md:top-0 md:order-last md:max-w-[35%] 2xl:max-w-[40%]">
	<div
		class="absolute block h-full w-[calc(100%_-_3rem)] will-change-transform md:w-full pt-6 md:pt-0">
		<Image
			src={Img1}
			alt="Choose a Design"
			class="size-full rounded-xl object-cover object-center"
		/>
	</div>
	<div
		class="absolute block h-full w-[calc(100%_-_3rem)] will-change-transform md:w-full pt-6 md:pt-0">
		<Image
			src={Img1}
			alt="Create a Prototype"
			class="size-full rounded-xl object-cover object-center"
		/>
	</div><div
		class="absolute block h-full w-[calc(100%_-_3rem)] will-change-transform md:w-full pt-6 md:pt-0">
		<Image
			src={Img1}
			alt="Optimize the Website"
			class="size-full rounded-xl object-cover object-center"
		/>
	</div><div
		class="absolute block h-full w-[calc(100%_-_3rem)] will-change-transform md:w-full pt-6 md:pt-0">
		<Image
			src={Img1}
			alt="Ad Campaign and Analytics"
			class="size-full rounded-xl object-cover object-center"
		/>
	</div>
</div>
