---
import Img1 from "../../ui/Img1.astro";
---

<!-- img part on right -->
<div
	id="processRight"
	class="relative order-first aspect-video w-full p-6 md:sticky md:top-0 md:order-last md:h-auto md:flex-1 md:p-0">
	<div
		class="absolute block h-full w-[calc(100%_-_3rem)] will-change-transform md:w-full">
		<Img1 />
	</div>
	<div
		class="absolute block h-full w-[calc(100%_-_3rem)] will-change-transform md:w-full">
		<Img1 />
	</div><div
		class="absolute block h-full w-[calc(100%_-_3rem)] will-change-transform md:w-full">
		<Img1 />
	</div><div
		class="absolute block h-full w-[calc(100%_-_3rem)] will-change-transform md:w-full">
		<Img1 />
	</div>
</div>
