---
import SectionHead from "@/layouts/SectionHead.astro";
import ProcessSectionAnimation from "./ProcessSectionAnimation.astro";
import LongArrowRightDown from "../../ui/LongArrowRightDown.astro";

import * as m from "@/paraglide/messages";
---

<!-- process section -->
<section
	id="process"
	class="relative"
	aria-describedby="processSectionDescription">
	<SectionHead class="sectionHeadAnimated !p-0">
		<span slot="label">/ {m.process()} /</span>
		<span slot="title">
			{m.tough_true_pig_sew()}<span class="flex items-center"
				>{m.flaky_formal_cowfish_bask()}
				<span>&nbsp;</span>
				<span class="~w-16/40">
					<LongArrowRightDown />
				</span>
			</span>
		</span>
		<p slot="description" id="processSectionDescription">
			{m.home_sharp_gazelle_dart()}
		</p>

		<ProcessSectionAnimation />
	</SectionHead>
</section>
