<!-- text part on left -->
<div
	id="processLeft"
	aria-live="polite"
	aria-atomic="true"
	class="relative flex max-h-full flex-1 flex-col items-stretch justify-stretch">
	<div class="flex flex-col gap-6 p-6">
		<p class="text-sm leading-[1.5] md:text-base md:leading-[1.8]">
			The initial phase usually consist of choosing a <span
				class="text-flatdarkviolet">design</span
			>, then deciding the additional features of websites and we will give you
			a <span class="text-flatdarkblue">budget</span> proposal.
		</p>
		<div class="text-sm font-normal text-muted-foreground md:text-base">
			<ul class="flex list-disc flex-col gap-3 pl-2 sm:pl-4">
				<li class="sm:pl-2">
					Choosing a design/template: we do not design from scratch. We use
					existing website and design layout as reference and recreate a new
					system that matches your business image.
				</li>
				<li class="sm:pl-2">
					Additional features: we advice you on the additional features you can
					add to your website. This could be animations, transitions, additional
					sections, etc.
				</li>
				<li class="sm:pl-2">
					Budget proposal: we give you an estimated budget and project duration.
					This is based on the number of pages and amount of animations you want
					to add to your website.
				</li>
			</ul>
		</div>
	</div>

	<div class="hidden flex-col gap-6 p-6 opacity-0">
		<p class="text-sm leading-[1.5] md:text-base md:leading-[1.8]">
			The second phase is where we go to work and create a <span
				class="text-flatdarkred">prototype</span
			> of your website. We will need follow up information and data so we can populate
			the website.
		</p>
		<div class="text-sm font-normal text-muted-foreground md:text-base">
			<ul class="flex list-disc flex-col gap-3 pl-2 sm:pl-4">
				<li class="sm:pl-2">
					Tech Stack: we have a strong preference of custom coding everything
					from scratch. We mainly use Astro for static/low-dynamic sites and
					Next JS for dynamic/SSR/ISR sites. Styling are done with mostly
					Tailwind and headless UI for responsiveness and accessibility. We use
					GSAP/Anime.js and Lottie Web for animations.
				</li>
				<li class="sm:pl-2">
					Follow-up Requests: we will ask you for additional information such as
					images, headlines, copywriting, product and service details in order
					to populate the website. We can help you with copywriting to achieve
					better on-site SEO but it will take time.
				</li>
			</ul>
		</div>
	</div>
	<div class="hidden flex-col gap-6 p-6 opacity-0">
		<p class="text-sm leading-[1.5] md:text-base md:leading-[1.8]">
			In third phase, we will <span class="text-flatdarkgreen">optimize</span> the
			website for speed and SEO. We clean up the code and make sure the website is
			accessible and mobile friendly. Then we deploy.
		</p>
		<div class="text-sm font-normal text-muted-foreground md:text-base">
			<ul class="flex list-disc flex-col gap-3 pl-2 sm:pl-4">
				<li class="sm:pl-2">
					Optmization: we look into the meta tags, image sizes, caching,
					prefetching, elements' attributes, etc. and optimize them. We take it
					a step further and use analytic tools to ensure the search engines are
					happy with the website. On-page optimization is also done at this
					point.
				</li>
				<li class="sm:pl-2">
					Deployment: we deploy the website to mostly Vercel, Netlify,
					Cloudflare Pages or Fly.io. We can also deploy to your own server if
					you have one. For domain names, we can help you purchase and manage
					custom domains with an extra fee payed yearly.
				</li>
			</ul>
		</div>
	</div>
	<div class="hidden flex-col gap-6 p-6 opacity-0">
		<p class="text-sm leading-[1.5] md:text-base md:leading-[1.8]">
			After deploying, we will track the website's performance and exposure if
			analytics is required. We will also selectively run ad campaigns and build
			your <span class="text-flatdarkviolet">online presence</span>.
		</p>
		<div class="text-sm font-normal text-muted-foreground md:text-base">
			Different businesses needs different way to gain exposure. Running ads is
			only part of the trick. We help you build your online presence by reaching
			out to influencers, getting reviews, and building a strong google business
			profile, something that even top SEO agencies miss out. In contrast with
			On-page optimization, Off-page optimization is like a slow grind and
			requires dedication and creativity to achieve the optimal results.
		</div>
	</div>
</div>
