---
import { Image } from "astro:assets";
import Img1 from "@/assets/img1.svg";
---

<!-- img part on right -->
<div
	id="processRight"
	class="relative order-first aspect-video max-h-[170px] md:max-h-full w-full p-6 md:sticky md:top-0 md:order-last md:h-auto md:flex-1 md:max-w-[35%] lg:max-w-full md:p-0">
	<div
		class="absolute block h-full w-[calc(100%_-_3rem)] will-change-transform md:w-full">
		<Image
			src={Img1}
			alt="Choose a Design"
			class="size-full rounded-xl object-cover object-center"
		/>
	</div>
	<div
		class="absolute block h-full w-[calc(100%_-_3rem)] will-change-transform md:w-full">
		<Image
			src={Img1}
			alt="Create a Prototype"
			class="size-full rounded-xl object-cover object-center"
		/>
	</div><div
		class="absolute block h-full w-[calc(100%_-_3rem)] will-change-transform md:w-full">
		<Image
			src={Img1}
			alt="Optimize the Website"
			class="size-full rounded-xl object-cover object-center"
		/>
	</div><div
		class="absolute block h-full w-[calc(100%_-_3rem)] will-change-transform md:w-full">
		<Image
			src={Img1}
			alt="Ad Campaign and Analytics"
			class="size-full rounded-xl object-cover object-center"
		/>
	</div>
</div>
