---
import SectionHead from "@/layouts/SectionHead.astro";
import ProcessSectionAnimation from "./ProcessSectionAnimation.astro";
import LongArrowRightDown from "../../ui/LongArrowRightDown.astro";
---

<!-- process section -->
<section
	id="process"
	class="relative"
	aria-describedby="processSectionDescription">
	<SectionHead class="!p-0">
		<span slot="label">/ process /</span>
		<span slot="title">
			Our Website development <span class="inline-flex items-center"
				>process
				<span>&nbsp;</span>
				<span class="~w-16/40">
					<LongArrowRightDown />
				</span>
			</span>
		</span>
		<p slot="description" id="processSectionDescription">
			We are 100% transparent about our development process and we communicate
			clearly the requirements, expectations and outcomes. We keep you up to
			date with the progress and ensure that you are satisfied with the final
			product.
		</p>

		<ProcessSectionAnimation />
	</SectionHead>
</section>
