---
import Layout from "@/layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<Layout>
	<SEO
		slot="head"
		title="404 Not Found"
		description="Ooops. It seems like you are being too adventurous. The page you are looking for doesn't exist."
	/>
	<main class="flex min-h-screen items-center justify-center px-4">
		<section class="flex flex-col items-center gap-5">
			<p
				class="whitespace-nowrap text-[0.65rem] font-normal uppercase leading-7 text-muted-foreground md:text-xs">
				/ 404 /
			</p>
			<h1 class="text-lg sm:text-2xl md:text-4xl">Page not found.</h1>
			<p
				class="text-sm leading-[1.4] text-muted-foreground md:leading-[1.8] lg:text-base lg:leading-[1.8]">
				You have entered enemy territory. Return to safety immediately!
			</p>
		</section>
	</main>
</Layout>
