---
import Layout from "@/layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<Layout>
	<SEO
		slot="head"
		title="404 Not Found"
		description="Ooops. It seems like you are being too adventurous. The page you are looking for doesn't exist."
		openGraph={{
			basic: {
				title: "404 Not Found",
				type: "website",
				image: "https://avatars.githubusercontent.com/u/41984660",
				url: "https://sam.partialty.com",
			},
			optional: {
				locale: "en-US",
				siteName: "partialty",
				description:
					"Ooops. It seems like you are being too adventurous. The page you are looking for doesn't exist.",
			},
		}}
	/>
	<main class="min-h-screen flex items-center justify-center px-4">
		<section class="gap-5 items-center">
			<h1 class="flex items-center not-prose">
				<span class="text-xl pr-4 sm:pr-8 border-r border-border leading-10"
					>404</span
				>
				<span class="pl-4 sm:pl-8 text-base">Page not found.</span>
			</h1>
			<p class="hidden sm:block">
				You have entered enemy territory. Return to safety immediately!
			</p>
		</s>
	</main>
</Layout>
