---
import Layout from "@/layouts/Layout.astro";
import { SEO } from "astro-seo";

import * as m from "@/paraglide/messages";
---

<Layout>
	<SEO
		slot="head"
		title={m.lucky_vexed_angelfish_fulfill()}
		description={m.patient_grassy_wombat_slide()}
	/>
	<main class="flex min-h-screen items-center justify-center px-4">
		<section class="flex flex-col items-center gap-5">
			<p
				class="whitespace-nowrap text-[0.65rem] font-normal uppercase leading-7 text-muted-foreground md:text-xs">
				/ 404 /
			</p>
			<h1 class="text-lg sm:text-2xl md:text-4xl">{m.dry_fun_iguana_heart()}</h1>
			<p
				class="text-sm leading-[1.4] text-muted-foreground md:leading-[1.8] lg:text-base lg:leading-[1.8]">
				{m.seemly_cool_stingray_urge()}
			</p>
		</section>
	</main>
</Layout>
