---
const year = new Date().getFullYear();
---

<footer id="footer" class="flex h-[150px] sm:h-[300px] flex-col ~pt-6/24 ~pb-5/10">
	<p class="mt-auto self-end text-xs text-flatgray2 font-normal md:text-sm">
		© {year} All rights reserved. All wrongs reversed.
	</p>
</footer>
