---
import ArrowRightShort from "../ui/ArrowRightShort.astro";
---

<!-- header -->
<header class="pt-6 md:pt-8">
	<div class="flex items-center justify-end">
		<div class="flex items-center gap-2">
			<button class="rounded px-3 py-4 md:px-6 md:py-4">Language</button>
			<button
				class="flex items-center gap-1 md:gap-3 rounded bg-primary px-3 py-4 text-primary-foreground md:px-6 md:py-5">
				<span class=" size-4 md:size-6 text-muted-foreground">
					<ArrowRightShort />
				</span>
				<span class="mt-[2px] block">See magic happens </span>
			</button>
		</div>
	</div>
</header>
