---

---

<!-- mission section -->
<section class="flex min-h-[100dvh] items-center justify-center">
	<div
		class="flex max-w-full flex-col items-center justify-center gap-0 md:gap-4 lg:max-w-[70vw] 2xl:max-w-[60vw] bg-card px-12 py-8 lg:px-16 lg:py-10 rounded-xl">
		<p
			class="whitespace-nowrap text-[0.65rem] font-normal uppercase leading-7 text-muted-foreground md:text-xs 3xl:text-sm">
			/ mission /
		</p>
		<div class="flex flex-col items-center gap-[4dvh]">
			<p
				class="text-center text-lg text-primary sm:text-2xl md:text-4xl 3xl:text-5xl 3xl:leading-[1.2]">
				We are a team of creatives who are excited about unique ideas and help
				digital and fin-tech companies to create amazing identity by crafting
				top-notch UI/UX.
			</p>
			<div class="flex items-center gap-8">
				<span class="text-sm text-primary md:text-base">Sam Yung</span>
				<span class="whitespace-nowrap text-[0.65rem] font-normal leading-7 md:text-xs lg:ml-0 3xl:text-sm text-flatgray2 uppercase">/ founder /</span>
			</div>
		</div>
	</div>
</section>
