---
import { Image } from "astro:assets";
import LandingSVG from "@/assets/landing.svg";
---

<div
	class="flex flex-col gap-4 pt-8 md:gap-6 md:pt-0">
	<p class="text-xl text-primary lg:text-2xl 3xl:text-3xl">
		With no hesitation or doubt in my mind, I recommend working with Kristina to
		build out your design team
	</p>
	<p class="md:pt-4">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aspernatur
		blanditiis consequuntur a ex? Repellat aperiam eveniet consequatur
		reiciendis tempore, eos minus ex fuga sint distinctio incidunt doloremque
		quas quia.
	</p>
	<div class="flex items-center gap-4">
		<Image
			src={LandingSVG}
			alt=""
			class="size-16 rounded-xl object-cover object-center"
		/>
		<div class="flex flex-col">
			<span class="text-primary">Sam Yung</span>
			<span class="font-normal text-flatgray2">Founder of Stable Studio</span>
		</div>
	</div>
</div>
