---
import SectionHead from "@/layouts/SectionHead.astro";
import ServiceSectionAnimation from "./ServiceSectionAnimation.astro";
---

<!-- service section -->
<section>
	<SectionHead>
		<span slot="label">/ studio /</span>
		<span slot="title">Leading SaaS design innovators</span>
		<p slot="description">
			A young SaaS Design agency with no red tape. Founded by a perfect duo: an
			expert designer and a d
		</p>
	</SectionHead>

	<div id="serviceSectionOuterContainer">
		<ul
			id="serviceSectionContainer"
			class="~py-6/16 3xl:py-24 [&_.serviceSection]:border-t [&_.serviceSection]:border-muted-foreground/50">
			<ServiceSectionAnimation
				subServices={["CMS Integration", "CMS Integration", "CMS Integration"]}>
				<span slot="label">01</span>
				<span slot="title">Product Degisn</span>
				<span slot="subheader">
					Empower Your Startup with a Powerful WebApp
				</span>
				<p slot="description">
					Your SaaS web app needs a stunning, user-friendly design. We create
					custom designs that enhance usability, boost retention, and meet your
					business goals.
				</p>
			</ServiceSectionAnimation>
			<ServiceSectionAnimation
				subServices={["CMS Integration", "CMS Integration", "CMS Integration"]}>
				<span slot="label">01</span>
				<span slot="title">product degisn</span>
				<span slot="subheader">
					Empower Your Startup with a Powerful WebApp
				</span>
				<p slot="description">
					Your SaaS web app needs a stunning, user-friendly design. We create
					custom designs that enhance usability, boost retention, and meet your
					business goals.
				</p>
			</ServiceSectionAnimation>
			<ServiceSectionAnimation
				subServices={["CMS Integration", "CMS Integration", "CMS Integration"]}>
				<span slot="label">01</span>
				<span slot="title">product degisn</span>
				<span slot="subheader">
					Empower Your Startup with a Powerful WebApp
				</span>
				<p slot="description">
					Your SaaS web app needs a stunning, user-friendly design. We create
					custom designs that enhance usability, boost retention, and meet your
					business goals.
				</p>
			</ServiceSectionAnimation>
			<ServiceSectionAnimation
				subServices={["CMS Integration", "CMS Integration", "CMS Integration"]}>
				<span slot="label">01</span>
				<span slot="title">product degisn</span>
				<span slot="subheader">
					Empower Your Startup with a Powerful WebApp
				</span>
				<p slot="description">
					Your SaaS web app needs a stunning, user-friendly design. We create
					custom designs that enhance usability, boost retention, and meet your
					business goals.
				</p>
			</ServiceSectionAnimation>
			<ServiceSectionAnimation
				subServices={["CMS Integration", "CMS Integration", "CMS Integration"]}>
				<span slot="label">01</span>
				<span slot="title">product degisn</span>
				<span slot="subheader">
					Empower Your Startup with a Powerful WebApp
				</span>
				<p slot="description">
					Your SaaS web app needs a stunning, user-friendly design. We create
					custom designs that enhance usability, boost retention, and meet your
					business goals.
				</p>
			</ServiceSectionAnimation>
		</ul>
	</div>
</section>
