<li class="bg-gackground text-left">
	<button
		class="faqSection col-span-1 col-start-1 row-span-2 row-start-1 flex flex-col !~py-4/12 lg:col-span-2 lg:col-start-2 lg:row-span-1 lg:row-start-1 lg:-mt-[2px]">
		<span
			class="faqSectionHeader flex text-left text-sm leading-[1.4] text-primary md:text-base md:leading-[1.8]">
			<slot name="title" />
		</span>
		<span
			class="serviceContent w block h-0 overflow-hidden text-sm leading-[1.4] text-muted-foreground md:leading-[1.8] lg:col-start-3 lg:text-base lg:leading-[1.8]">
			<span class="flex pt-4 text-left md:pt-5">
				<slot name="description" />
			</span>
		</span>
	</button>
</li>
<style is:global>
	.serviceContent {
		will-change: height;
	}
</style>
<script>
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger);

	const faqSection = gsap.utils.toArray(".faqSection") as HTMLElement[];

	const handleOpen = (faq: HTMLElement, e: Event) => {
		const serviceContent = faq.querySelector(".serviceContent");
		if (!serviceContent) return;
		const open = getComputedStyle(serviceContent).height === "0px";
		gsap.to(serviceContent, {
			height: open ? "auto" : "0",
			opacity: open ? 1 : 0,
			duration: 0.7,
			ease: "power4.out",
			overwrite: true,
		});
	};

	// ScrollTrigger.create({
	// 	trigger: faqOuterContainer,
	// 	start: "top bottom",
	// 	onEnter: () => {
	// 		faqSection.forEach((faq) => {
	// 			faq.addEventListener("click", handleOpen.bind(null, faq), true);
	// 		});
	// 	},
	// 	onEnterBack: () => {
	// 		faqSection.forEach((faq) => {
	// 			faq.removeEventListener("click", handleOpen.bind(null, faq), true);
	// 		});
	// 	},
	// });

	faqSection.forEach((faq) => {
		faq.addEventListener("click", handleOpen.bind(null, faq), {
			passive: true,
		});
	});

	window.faqSectionReady = true;
</script>
