---
import SectionHead from "@/layouts/SectionHead.astro";
import FAQSectionAnimation from "./FAQSectionAnimation.astro";
---

<!-- service section -->
<section id="faq" class="relative">
	<SectionHead class="gap-0 !pt-0 ~pb-16/52 md:gap-0">
		<span slot="label">/ faq /</span>
		<span slot="title">Frequently asked questions</span>
		<div
			class="col-span-full col-start-1 row-start-2 lg:col-span-1 lg:col-start-3 lg:row-start-1">
			<ul
				id="faqContainer"
				class="flex cursor-none flex-col ~pt-8/24 lg:pt-0 [&>li:last-child]:border-b [&>li]:border-t [&>li]:border-muted-foreground/50">
				<FAQSectionAnimation>
					<span slot="label">01</span>
					<span slot="title">How does Stable Studio works?</span>
					<span slot="description"
						>We are made up of freelancers whom take part in each project by
						handling the part they have the most expertise in. Pros of this
						approach are that we are way more flexible than traditional studios
						with fixed members and we can operate globally and build an
						extensive network. Freelancers can also work on other projects if
						they wish since they are not buonded by contracts. Cons are that
						collaborations between freelancers will take extra coordination.</span
					>
				</FAQSectionAnimation>
				<FAQSectionAnimation>
					<span slot="label">02</span>
					<span slot="title"
						>What is the trade-off of paying a cheaper price?</span
					>
					<span slot="description"
						>Since we are operating globally and we want to simplify the
						pricing, we set the same price for all regions which is why it seems
						ridiculously cheap when you are from United States or European
						countries. Also, we do not handle company branding nor designing
						from scratch since we want to control costs. We believe using
						existing designs for reference works 99% of the time and there is
						almost always a design that fits your business needs. Lastly, we are
						a growing studio and our aim is to build connections. We don't
						expect to make lots of profit in early stages and we want to provide
						quality services at an affordable price.</span
					>
				</FAQSectionAnimation>
				<FAQSectionAnimation>
					<span slot="label">03</span>
					<span slot="title"
						>How is Stable Studio different from other studios?</span
					>
					<span slot="description"
						>We do not charge until the website's design and features have been
						confirmed since we do not design from scratch. We also allow you to
						choose your preferred way of deployment or hosting if you so desire
						since it becomes a big deal when the website is a e-commerce
						platform or Saas. Lastly, we offer free consultations for small and
						medium sized businesses to help you avoid spending unnecessary money
						and choosing the right tech stack. Don't fret even if you know
						nothing about tech. We all start from zero at some point.</span
					>
				</FAQSectionAnimation>
				<FAQSectionAnimation>
					<span slot="label">04</span>
					<span slot="title"
						>What should I pay attention to before puchasing services form
						Stable Studio?</span
					>
					<span slot="description"
						>The crucial details are outlined in the process section. You need
						to think about what features your websites need: maybe a gallery for
						photos, maybe a section for testimonials or somehthing unique like
						interactive playground. We give advices but the ultimate decision
						lies in your hand. For SEO, relying on on-page optimization alone
						has limited effects on how well your ranking can improve in search
						results. Our suggestion is to let us know which feature you think is
						quite unique in the market and would like us to stress about, then
						combine both on & off-page optimizations to get the optimal results.
						For one-off plans, you need to pay 50% up-front and then the
						remanining 50% after project is finished. We use stripe for
						payments.</span
					>
				</FAQSectionAnimation>
				<FAQSectionAnimation>
					<span slot="label">05</span>
					<span slot="title"
						>Can the website be updated after the project is finished?</span
					>
					<span slot="description"
						>For one-off plans, you get one revision after the website is
						deployed. Any further revisions require extra fees. In most
						scenarios it would be a minimal fee of $20 but updates with layout
						changes or new animations will cost more. For monthly subscriptions,
						you enjoy the privilege of having unlimited revisions. However, the
						tech stack the website is build with cannot be changed since it will
						be too costly.</span
					>
				</FAQSectionAnimation>
				<FAQSectionAnimation>
					<span slot="label">06</span>
					<span slot="title">Do I get to keep the source code?</span>
					<span slot="description"
						>The current policy is to assess it on a per project basis. In some
						cases, the source code will be provided with a license attached.</span
					>
				</FAQSectionAnimation>
				<FAQSectionAnimation>
					<span slot="label">07</span>
					<span slot="title">Can I join/partner with Stable Studio?</span>
					<span slot="description"
						>Absolute yes! Feel free to send us an email or use the contact form
						below and we will see what we can cook up!</span
					>
				</FAQSectionAnimation>
			</ul>
		</div>
	</SectionHead>
</section>
<script>
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger);
	gsap.defaults({
		overwrite: true,
	});
	const faqContainer = document.getElementById(
		"faqContainer",
	) as HTMLElement | null;
	const faqCursor = document.getElementById("faqCursor") as HTMLElement | null;

	faqContainer?.addEventListener("mouseenter", (e) => {
		gsap.to(faqCursor, {
			opacity: 1,
			ease: "power3.out",
			overwrite: "auto",
		});
	});
	faqContainer?.addEventListener("mouseleave", () => {
		gsap.to(faqCursor, {
			opacity: 0,
			ease: "power3.out",
			overwrite: "auto",
		});
	});
</script>
