---
import ArrowDown from "../../ui/ArrowDown.astro";
---

<li class="bg-gackground text-left">
	<button class="faqSection flex cursor-none flex-col !~py-4/12 lg:-mt-[2px]">
		<span
			class="faqSectionHeader flex min-w-full items-center justify-between gap-6 text-left text-sm leading-[1.4] text-primary md:text-base md:leading-[1.8]">
			<slot name="title" />
			<span class="faqArrow inline-block size-4 stroke-2">
				<ArrowDown />
			</span>
		</span>
		<span
			class="serviceContent w block h-0 overflow-hidden text-sm leading-[1.4] text-muted-foreground md:leading-[1.8] lg:col-start-3 lg:text-base lg:leading-[1.8]">
			<span class="flex pt-4 text-left md:pt-5">
				<slot name="description" />
			</span>
		</span>
	</button>
</li>
<style is:global>
	.serviceContent {
		will-change: height;
	}
</style>
<script>
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger);

	const faqSection = gsap.utils.toArray(".faqSection") as HTMLElement[];

	const handleOpen = (faq: HTMLElement, e: Event) => {
		const serviceContent = faq.querySelector(".serviceContent");
		const faqArrow = faq.querySelector(".faqArrow");
		if (!serviceContent) return;
		const open = getComputedStyle(serviceContent).height === "0px";
		gsap.to(serviceContent, {
			height: open ? "auto" : "0",
			opacity: open ? 1 : 0,
			duration: 0.7,
			ease: "power4.out",
			overwrite: true,
		});
		gsap.to(faqArrow, {
			rotate: open ? 180 : 0,
			duration: 0.7,
			ease: "power4.out",
			overwrite: true,
		});
	};

	faqSection.forEach((faq) => {
		faq.addEventListener("click", handleOpen.bind(null, faq), {
			passive: true,
		});
	});

	window.faqSectionReady = true;
</script>
