---
import * as m from "@/paraglide/messages";
---

<section
	id="creditsCalloutSection"
	class="flex items-center justify-center ~py-16/52">
	<h2 class="text-sm md:text-base lg:text-2xl 3xl:text-4xl">
		{m.cozy_extra_ostrich_zoom()}<a
			href="/en/credits"
			target="_blank"
			class="underline">{m.basic_sad_otter_enrich()}</a
		>&nbsp;&nbsp;&nbsp;&nbsp;:)
	</h2>
</section>
