---
import "@/styles/global.css";
---
<!doctype html>
<html lang={Astro.locals.paraglide.lang} dir={Astro.locals.paraglide.dir}>
	<head>
		<!-- do not use keywords meta tag, most engines disrecard it or marks it as spam -->

		<!-- TODO: remove no index after done -->
		<meta name="robots" content="noindex" />
		<!-- <meta name="robots" content="index, follow"> -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<slot name="head" />
		<link rel="preconnect" href="https://cloud.umami.is/" />
		<!-- <script
			is:inline
			defer
			src="https://cloud.umami.is/script.js"
			data-website-id="f305f440-a907-4f5f-a728-393ab78dc117"></script> -->
	</head>
	<body>
		<slot />
	</body>
</html>
