---
import "@/styles/global.css";
import "@/styles/preflight.css";

// import { pwaInfo } from "virtual:pwa-info";
---

<!doctype html>
<html lang={Astro.locals.paraglide.lang} dir={Astro.locals.paraglide.dir}>
	<head>
		<!-- do not use keywords meta tag, most engines disregard it or marks it as spam -->

		<meta name="robots" content="index, follow" />
		<meta charset="UTF-8" />
		<link
			rel="alternate"
			href="https://stablestudio.org"
			hreflang="x-default"
		/>
		<link rel="alternate" href="https://stablestudio.org/en" hreflang="en" />
		<link rel="alternate" href="https://stablestudio.org/id" hreflang="id" />
		<link rel="alternate" href="https://stablestudio.org/tl" hreflang="tl" />
		<link rel="alternate" href="https://stablestudio.org/vi" hreflang="vi" />
		<link rel="alternate" href="https://stablestudio.org/zh" hreflang="zh" />
		<link
			rel="alternate"
			href="https://stablestudio.org/zh-HK"
			hreflang="zh-HK"
		/>
		<link
			rel="alternate"
			href="https://stablestudio.org/zh-HK"
			hreflang="zh-MO"
		/>
		<link
			rel="alternate"
			href="https://stablestudio.org/zh-TW"
			hreflang="zh-TW"
		/>
		<link
			rel="alternate"
			href="https://stablestudio.org/zh-CN"
			hreflang="zh-CN"
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="theme-color" content="#262626" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="32x32" />
		<link
			rel="apple-touch-icon"
			type="image/png"
			href="/apple-touch-icon.png"
		/>
		<link rel="icon" sizes="any" href="/favicon.svg" type="image/svg+xml" />
		<meta name="generator" content={Astro.generator} />
		<slot name="head" />
		{
			import.meta.env.MODE !== "development" && (
				<link
					rel="preload"
					href="/font/PPMori-Regular-compressed.woff2"
					as="font"
					crossorigin="anonymous"
				/>
			)
		}
		{
			import.meta.env.MODE !== "development" && (
				<link
					rel="preload"
					href="/font/PPMori-SemiBold-compressed.woff2"
					as="font"
					crossorigin="anonymous"
				/>
			)
		}
		{
			import.meta.env.MODE !== "development" && (
				<script
					is:inline
					defer
					src="/chain.js"
					data-website-id="2ad1630a-27f4-4314-979f-ffbece150eb1"
				/>
			)
		}
		<link rel="manifest" href="/manifest.webmanifest" />
		<!-- <script src="/src/pwa.ts" />
		{pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />} -->
	</head>

	<body class="max-w-screen overflow-auto overflow-x-hidden">
		<slot />
	</body>
</html>
