---
import { cn } from "@/lib/utils";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div
	class={cn(
		"sectionHead grid gap-4 md:gap-5 lg:gap-0 items-start justify-between ~pt-8/52 w-full",
		className,
	)}>
	<div
		class="col-[2] row-start-1 ml-auto lg:ml-0 flex whitespace-nowrap text-[0.65rem] font-normal uppercase leading-7 text-muted-foreground md:text-xs lg:col-[1] 3xl:text-sm">
		<slot name="label" />
	</div>
	<h1
		class="row-start-1 lg:mx-auto flex text-lg sm:text-2xl md:text-4xl lg:-mt-2 3xl:text-5xl">
		<slot name="title" />
	</h1>

	<div
		class="col-span-1 col-start-1 flex flex-1 text-sm leading-[1.4] text-muted-foreground md:leading-[1.8] lg:col-start-3 lg:text-base lg:leading-[1.8] 3xl:text-xl 3xl:leading-[2]">
		<slot name="description" />
	</div>

	<slot />
</div>

<style is:global>
	.sectionHead {
		grid-template-columns: minmax(auto, 470px) min-content;
		@media screen and (min-width: 64rem) {
			/* lg, 1024px */
			grid-template-columns: min-content minmax(auto, 27vw) minmax(auto, 45vw);
		}
		@media screen and (min-width: 120rem) {
			/* 3xl, 1920px */
			grid-template-columns: min-content minmax(auto, 20vw) minmax(auto, 40vw);
		}
	}
</style>
