---
import { cn } from "@/lib/utils";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div
	class={cn(
		"sectionHead grid gap-4 md:gap-5 lg:gap-0 items-start justify-between ~pt-8/52 w-full",
		className,
	)}>
	<div
		class="col-[2] row-start-1 ml-auto flex whitespace-nowrap text-[0.65rem] font-normal uppercase leading-7 text-muted-foreground md:text-xs lg:col-[1] lg:ml-0">
		<slot name="label" />
	</div>
	<h1
		class="sectionHeadTitle row-start-1 flex text-lg sm:text-2xl md:text-4xl lg:mx-auto lg:-mt-2">
		<slot name="title" />
	</h1>

	<div
		class="sectionHeadDesc col-span-1 col-start-1 flex flex-1 text-sm leading-[1.4] text-muted-foreground md:leading-[1.8] lg:col-start-3 lg:text-base lg:leading-[1.8]">
		<slot name="description" />
	</div>

	<slot />
</div>

<style is:global>
	.sectionHead {
		grid-template-columns: minmax(auto, 470px) min-content;
	}
	@media screen and (min-width: 64rem) {
		/* lg, 1024px */
		.sectionHead {
			grid-template-columns: 5vw minmax(auto, 31vw) minmax(auto, 45vw);
		}
	}
	@media screen and (min-width: 120rem) {
		/* 3xl, 1920px */
		.sectionHead {
			grid-template-columns: 5vw minmax(auto, 20vw) minmax(auto, 40vw);
		}
	}

	@media (-webkit-max-device-pixel-ratio: 3) and (max-width: 400px) and (max-height: 700px) {
		.sectionHeadDesc {
			@apply col-span-2
		}
	}
</style>
