---
import SectionHead from "@/layouts/SectionHead.astro";
import Check from "../../ui/Check.astro";
import ArrowRightShort from "../../ui/ArrowRightShort.astro";
---

<section
	aria-describedby="priceSectionDescription"
	id="price"
	class="relative flex w-full flex-col items-center justify-center rounded-[20px] bg-primary text-primary-foreground md:rounded-[40px] lg:rounded-[60px] 3xl:max-w-full">
	<div id="priceSection">
		<div
			id="priceAnimationContainer"
			class="flex items-center justify-center overflow-hidden ~mt-16/52 ~py-16/52">
			<div id="priceAnimation">
				<p class="flex flex-col items-center gap-6">
					<span
						class="whitespace-nowrap text-[6vw] leading-[1] 3xl:text-[100px]"
						>Simple and affordable price.</span
					>
					<span
						class="whitespace-nowrap text-center text-[2.5vw] leading-[1.2] 3xl:text-4xl">
						No funny hidden fees.
					</span>
				</p>
			</div>
		</div>
		<SectionHead class="px-6 sm:px-12 md:px-16 3xl:max-w-[95vw]">
			<span slot="label" class="text-background/70">/ pricing /</span>
			<span slot="title">Pricing</span>
			<p slot="description" class="text-flatgray2" id="priceSectionDescription">
				Extremely affordable pricing for even start-ups. For Saas and sites that
				need to handle users, the price will scale with the traffic as you grow.
				Total cost will be mentioned in the budget proposal at the start and we
				make sure you are clear about it. (Currency in USD)
			</p>
			<div class="col-span-2 col-start-1 flex ~py-6/24 lg:col-start-2">
				<div
					class="flex w-full flex-col gap-6 lg:flex-row xl:pl-[15vw] 2xl:pl-[20vw]">
					<section
						class="price flex flex-1 flex-col gap-4 rounded-xl bg-flatdeepblue px-6 py-6 lg:gap-6 lg:px-8 lg:py-16">
						<h2
							class="flex h-[50px] items-center text-lg leading-[1.4] lg:text-base lg:leading-[1.8]">
							One-off
						</h2>
						<div class="border-t border-muted-foreground"></div>
						<ul class="space-y-2 md:space-y-3">
							<li class="flex items-center gap-2 text-primary-foreground">
								<span class="size-3 -translate-y-[2px] fill-primary-foreground">
									<Check />
								</span>
								Base 5 pages + Assets Handling
							</li>
							<li class="flex items-center gap-2">
								<span class="size-3 -translate-y-[2px] fill-primary-foreground">
									<Check />
								</span>Transitions + Animations
							</li>
							<li class="flex items-center gap-2">
								<span class="size-3 -translate-y-[2px] fill-primary-foreground">
									<Check />
								</span>SEO Optimizations
							</li>
							<li class="flex items-center gap-2">
								<span class="size-3 -translate-y-[2px] fill-primary-foreground">
									<Check />
								</span>Hosting and Deployment
							</li>
							<li class="flex items-center gap-2">
								<span class="size-3 -translate-y-[2px] fill-primary-foreground">
									<Check />
								</span>One Revision
							</li>
						</ul>
						<div class="border-t border-muted-foreground"></div>
						<p class="flex flex-none items-center justify-between">
							<span>
								$780 <span class="text-primary-foreground/50">
									(50% upfront)</span
								>
							</span>
							<a
								href="#getstarted"
								class="rounded bg-primary px-4 py-3 text-primary-foreground md:px-6 md:py-5"
								>Start now</a
							>
						</p>
					</section>
					<section
						class="price flex flex-1 flex-col gap-4 rounded-xl bg-card px-6 py-6 text-primary lg:gap-6 lg:px-8 lg:py-16">
						<h2
							class="flex h-[50px] items-center gap-5 whitespace-nowrap text-xl leading-[1.4] text-primary lg:text-2xl lg:leading-[1.8] xl:gap-[2vw]">
							Monthly subscription
							<span class="text-xs font-normal uppercase text-muted-foreground"
								>popular</span
							>
						</h2>
						<div class="border-t border-muted-foreground/50"></div>
						<div class="flex gap-12">
							<ul class="space-y-3">
								<li class="flex items-center gap-2">
									<span class="size-3 -translate-y-[2px] fill-black stroke-[3]">
										<Check />
									</span>All features of One-off +
								</li>
								<li class="flex items-center gap-2">
									<span class="size-3 -translate-y-[2px] fill-black stroke-[3]">
										<Check />
									</span>Saas, CMS and User Handling
								</li>
								<li class="flex items-center gap-2">
									<span class="size-3 -translate-y-[2px] fill-black stroke-[3]">
										<Check />
									</span>Infinite Revisions
								</li>
								<li class="flex items-center gap-2">
									<span class="size-3 -translate-y-[2px] fill-black stroke-[3]">
										<Check />
									</span>Lottie Animations
								</li>
								<li class="flex items-center gap-2">
									<span class="size-3 -translate-y-[2px] fill-black stroke-[3]">
										<Check />
									</span>Ad Campaigns and Off-Page SEO
								</li>
							</ul>
						</div>
						<div class="border-t border-muted-foreground/50"></div>
						<p class="flex items-center justify-between">
							<span>
								$110.0 <span class="text-muted-foreground"> / month</span>
							</span>
							<a
								href="#getstarted"
								class="flex items-center gap-1 rounded bg-primary py-3 pl-3 pr-4 text-primary-foreground md:gap-3 md:py-5 md:pl-5 md:pr-6"
								><span class="size-4 text-muted-foreground md:size-6"
									><ArrowRightShort /></span
								>
								<span class="mt-[2px] block">Start now</span></a
							>
						</p>
					</section>
				</div>
			</div>
		</SectionHead>
	</div>
</section>
